#*
Copyright 2004 The Apache Software Foundation

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*#

#**

@author <a href="mailto:taylor@apache.org">David Sean Taylor</a>
@version $Id: user-multi-chooser.vm 348264 2005-11-22 22:06:45Z taylor $

*#

<script language="JavaScript" type="text/javascript">
    <!--
    function select(value)
    {
        var openerForm = opener.document.forms['securityform'];
        var openerEl = openerForm.elements['users'];
        window.close();
    }
	function rowHover(row)
	{
	    row.oldClassName = row.className;
	    row.className = 'jetdbLight';
	    row.onmouseout = function()
	    {
	        this.className = this.oldClassName;
	    }
	}    
	function sendChecks(form)
	{
		var result = "";
		for(var i = 0; i < form.length; i++)
		{
		   var e = form.elements[i];
		   if (e.type == "checkbox")
		   {
		       if (e.checked == true)
		       {
		       	   result = result + "," + e.name;
		       }
		   }
		}
        var openerForm = opener.document.forms['securityform'];
        var openerEl = openerForm.elements['users'];
        openerEl.value = result;
        window.close();
        openerForm.submit();		
	}
    //-->
</script>


#set ($MESSAGES = $portletConfig.getResourceBundle($renderRequest.Locale))
<form name='userform' onSubmit='sendChecks(this)'/>
<table cellpadding=0 cellspacing=1 border=0 width='100%' >
  <tr>
    #foreach ($column in $title)    
      <td align='center' class="jetdbHeadNoLink" width="90%" nowrap>
        $column
      </td>
      <th class="jetdbHeadNoLink" width="10"></th>     
    #end
  </tr>
  #foreach ( $user in $table )
  <tr>
    #if ($velocityCount % 2 == 0)
       #set($rowstyle = "jetdbEven")
    #else
       #set($rowstyle = "jetdbOdd")
    #end   
      <td class="$rowstyle" nowrap width="90%" onmouseover="rowHover(this)">
        <div align="center">$user</div>
      </td>
	  <td class="$rowstyle" width="10">
  	    <input type="checkbox" name="box_$user"/>
	  </td>      
   </tr>
  #end
</table>
 <input type="submit" name="add.users" value="Add Users" class="jetdbButton"  />
</form>