#set ($MESSAGES = $portletConfig.getResourceBundle($renderRequest.Locale))

<h2 class="portlet-section-header">$MESSAGES.getString('add.link')</h2>

<form action="$renderResponse.createActionURL()" method="post">
<input type='hidden' name='portlet.action' value='processAddLinkAction'/>
<table>
    #formField('Name' "$!linkBean.Key" "40" 'key' $MESSAGES $ERRORS)
	    #formField('Title' "$!linkBean.Title" "40" 'title' $MESSAGES $ERRORS)
    #formField('ShortTitle' "$!linkBean.ShortTitle" "40" 'shortTitle' $MESSAGES $ERRORS)
	    #formField('Url' "$!linkBean.Url" "80" 'url' $MESSAGES $ERRORS)    
    #formField('Version' "$!linkBean.Version" "40" 'version' $MESSAGES $ERRORS)
   	<input type='hidden' name='bridges.view.view' value='add-link'/>
	
</table>
<br/>
<input type="submit" name="Save" value="$MESSAGES.getString('save')" />
</form>

#ErrorMessages($ERRORS)
