<settings>
  <localRepository>C:/Polarion/data/maven-repo</localRepository>
  <usePluginRegistry>true</usePluginRegistry>
  <profiles>
    <profile>
      <id>polarion-bundled</id>
      <repositories>
        <repository>
          <id>polarion-bundled</id>
          <url>file:///C:/Polarion/maven/repository</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>polarion-bundled</id>
          <url>file:///C:/Polarion/maven/repository</url>
        </pluginRepository>
      </pluginRepositories>
    </profile>
    <profile>
      <id>polarion-shared</id>
      <repositories>
        <repository>
          <id>polarion-shared</id>
          <url>file:///C:/Polarion/data/shared-maven-repo</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>polarion-shared</id>
          <url>file:///C:/Polarion/data/shared-maven-repo</url>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>polarion-bundled</activeProfile>
    <activeProfile>polarion-shared</activeProfile>
  </activeProfiles>
</settings>
