<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">

<web-app metadata-complete="true">
	<display-name>Internal Login</display-name>
	
	<filter>
        <filter-name>ExpiresFilter</filter-name>
        <filter-class>com.polarion.portal.tomcat.servlets.ExpiresFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>ExpiresFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
	
	<filter>
		<filter-name>DoAsFilter</filter-name>
		<filter-class>com.polarion.portal.tomcat.servlets.DoAsFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>DoAsFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- Unprotected internal login resources -->
	<security-constraint>
  		<web-resource-collection>
    		<web-resource-name>Internal Login Public</web-resource-name>
    		<url-pattern>/internal_login.jsp</url-pattern>
    		<url-pattern>/internal_login.css</url-pattern>
		</web-resource-collection>
	</security-constraint>

	<!-- Protected internal login resources, mainly for internal_login_success.jsp -->
  	<security-constraint>
    	<web-resource-collection>
      		<web-resource-name>Internal Login Private</web-resource-name>
      		<url-pattern>/*</url-pattern>
    	</web-resource-collection>
    	<auth-constraint>
      		<role-name>user</role-name>
    	</auth-constraint>
  	</security-constraint>

  	<login-config>
    	<auth-method>FORM</auth-method>
    	<realm-name>PolarionRealm</realm-name>
    	<form-login-config>
      		<form-login-page>/login/login</form-login-page>
      		<form-error-page>/login/error</form-error-page>
    	</form-login-config>
  	</login-config>
</web-app>
