<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<module>
    <field id="author">admin</field>
    <field id="created">2013-01-09 22:56:36.458 +0100</field>
    <field id="homePageContent" text-type="text/html"><![CDATA[<h1 id="polarion_wiki macro name=module-workitem;params=id=TMPLT-110"></h1><p id="polarion_merged_5">
  <span style="font-style: italic;"><span style="font-weight: bold;">NOTE TO AUTHOR: </span> Highlighted, italicized text throughout this template is provided solely as background information to assist you in creating this document.  Please delete all such text, as well as the instructions in each section, prior to submitting this document.  <span style="font-weight: bold;">ONLY YOUR PROJECT-SPECIFIC INFORMATION SHOULD APPEAR IN THE FINAL VERSION OF THIS DOCUMENT.</span></span>
</p><div id="polarion_wiki macro name=toc"></div><h2 id="polarion_wiki macro name=module-workitem;params=id=TMPLT-111"></h2><p id="polarion_merged_1">
  <span style="font-style: italic;">INFO: The System Test Specification collects test cases that are intended to be used to test the full system or the collection of system requirements  and specifies the details of the test approach.</span>
</p><h3 id="polarion_wiki macro name=module-workitem;params=id=TMPLT-113"></h3><p id="polarion_merged_6">
  <span style="font-style: italic;">TO DO: Describe the scope of this document as it relates to the project.</span>
</p><h3 id="polarion_wiki macro name=module-workitem;params=id=TMPLT-326"></h3><p id="polarion_merged_3">
  <span style="font-style: italic;">TO DO: List any other documents or Web addresses to which this document refers. Provide enough information so that the reader could access a copy of each reference, including title, author, version number, date, and source or location.</span>
</p><h2 id="polarion_wiki macro name=module-workitem;params=id=TMPLT-115"></h2><p id="polarion_merged_4">All the system requirements from the System Requirements specification need to be covered by test cases collected in this document:</p><ul id="polarion_1">
  <li><span class="polarion-rte-link" data-type="document" id="fake" data-item-name="System Requirements" data-space-name="Requirements" data-option-id="default"></span></li>
</ul><h2 id="polarion_wiki macro name=module-workitem;params=id=TMPLT-116"></h2><p id="polarion_merged_0">
  <span style="font-style: italic;">TO DO: Document any changes to the system validation and verification plan:</span>
</p><ul id="polarion_3">
  <li><span style="font-style: italic;"><span class="polarion-rte-link" data-type="document" id="fake" data-item-name="System Validation and Verification Plan" data-space-name="Requirements" data-option-id="default"></span></span></li>
</ul><h2 id="polarion_wiki macro name=module-workitem;params=id=TMPLT-117"></h2><div id="polarion_wiki macro name=module-workitem;params=id=TMPLT-463"></div><p id="polarion_2"></p>]]></field>
    <field id="renderingLayouts">
        <list>
            <struct>
                <item id="label">System Test Case</item>
                <item id="layouter">titleTestSteps</item>
                <item id="properties">
                    <list>
                        <struct>
                            <item id="key">fieldsAtStart</item>
                            <item id="value">id</item>
                        </struct>
                        <struct>
                            <item id="key">fieldsAtEnd</item>
                            <item id="value">status</item>
                        </struct>
                        <struct>
                            <item id="key">fieldsAtEndAsTable</item>
                        </struct>
                        <struct>
                            <item id="key">hidden</item>
                        </struct>
                    </list>
                </item>
                <item id="type">systemTestCase</item>
            </struct>
        </list>
    </field>
    <field id="status">draft</field>
    <field id="structureLinkRole">parent</field>
    <field id="type">generic</field>
    <field id="usesOutlineNumbering">true</field>
</module>
