<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<module>
    <field id="author">admin</field>
    <field id="created">2013-01-09 22:59:54.928 +0100</field>
    <field id="homePageContent" text-type="text/html"><![CDATA[<h1 id="polarion_wiki macro name=module-workitem;params=id=TMPLT-197"></h1><h2 id="polarion_wiki macro name=module-workitem;params=id=TMPLT-198"></h2><h3 id="polarion_wiki macro name=module-workitem;params=id=TMPLT-199"></h3><div id="polarion_wiki macro name=module-workitem;params=id=TMPLT-200"></div><div id="polarion_wiki macro name=module-workitem;params=id=TMPLT-201"></div><div id="polarion_wiki macro name=module-workitem;params=id=TMPLT-202"></div><div id="polarion_wiki macro name=module-workitem;params=id=TMPLT-203"></div><div id="polarion_wiki macro name=module-workitem;params=id=TMPLT-204|level=1"></div><div id="polarion_wiki macro name=module-workitem;params=id=TMPLT-205|level=1"></div><h3 id="polarion_wiki macro name=module-workitem;params=id=TMPLT-206"></h3><p id="polarion_merged_1">
  <img src="attachment:diagram_20130124-1655.39751.png"/>
</p><div id="polarion_wiki macro name=module-workitem;params=id=TMPLT-207"></div><div id="polarion_wiki macro name=module-workitem;params=id=TMPLT-209"></div><div id="polarion_wiki macro name=module-workitem;params=id=TMPLT-441"></div><div id="polarion_wiki macro name=module-workitem;params=id=TMPLT-210"></div><div id="polarion_wiki macro name=module-workitem;params=id=TMPLT-211"></div><h3 id="polarion_wiki macro name=module-workitem;params=id=TMPLT-212"></h3><p id="polarion_merged_2">
  <img src="attachment:diagram_20130124-1710.31728.png"/>
</p><div id="polarion_wiki macro name=module-workitem;params=id=TMPLT-214"></div><div id="polarion_wiki macro name=module-workitem;params=id=TMPLT-217"></div><div id="polarion_wiki macro name=module-workitem;params=id=TMPLT-442"></div><div id="polarion_wiki macro name=module-workitem;params=id=TMPLT-218"></div><div id="polarion_wiki macro name=module-workitem;params=id=TMPLT-443"></div><div id="polarion_wiki macro name=module-workitem;params=id=TMPLT-444"></div><div id="polarion_wiki macro name=module-workitem;params=id=TMPLT-445"></div><h3 id="polarion_wiki macro name=module-workitem;params=id=TMPLT-219"></h3><p id="polarion_merged_3">
  <img src="attachment:diagram_20130124-1718.48611.png"/>
</p><div id="polarion_wiki macro name=module-workitem;params=id=TMPLT-220"></div><div id="polarion_wiki macro name=module-workitem;params=id=TMPLT-221"></div><div id="polarion_wiki macro name=module-workitem;params=id=TMPLT-223"></div><h3 id="polarion_wiki macro name=module-workitem;params=id=TMPLT-446"></h3><div id="polarion_wiki macro name=module-workitem;params=id=TMPLT-447"></div><div id="polarion_wiki macro name=module-workitem;params=id=TMPLT-448"></div><p id="polarion_2"></p>]]></field>
    <field id="renderingLayouts">
        <list>
            <struct>
                <item id="label">Task</item>
                <item id="layouter">section</item>
                <item id="properties">
                    <list>
                        <struct>
                            <item id="key">fieldsAtStart</item>
                            <item id="value">id</item>
                        </struct>
                        <struct>
                            <item id="key">fieldsAtEnd</item>
                        </struct>
                        <struct>
                            <item id="key">fieldsAtEndAsTable</item>
                        </struct>
                        <struct>
                            <item id="key">hidden</item>
                        </struct>
                    </list>
                </item>
                <item id="type">task</item>
            </struct>
        </list>
    </field>
    <field id="status">published</field>
    <field id="structureLinkRole">parent</field>
    <field id="type">generic</field>
    <field id="usesOutlineNumbering">true</field>
</module>
