#*
Copyright 2004 The Apache Software Foundation

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*#

#**

@author <a href="mailto:taylor@apache.org">David Sean Taylor</a>
@version $Id: role-details.vm 348264 2005-11-22 22:06:45Z taylor $

*#

<script>
function openWindow(pipeline)
{ 
    var vWinUsers = window.open(pipeline, 'UserPicker', 'status=no,resizable=yes,width=200,height=300,scrollbars=yes');
    vWinUsers.opener = self;
  vWinUsers.focus();
}
</script>

#set ($MESSAGES = $portletConfig.getResourceBundle($renderRequest.Locale))
#set ($formAction = $renderResponse.createActionURL())

#if ($statusMsg)
#parse ('/WEB-INF/view/status-include.vm')
#end
#if ($errorMessages)
#parse ('/WEB-INF/view/errors-include.vm')
#end
#if ($role)
#set ($newRole = "false")
#else
#set ($newRole = "true")
#end

<form name='roleForm' action="$formAction" method="post">
<table>
  <tr colspan="2" align="right">
    <td nowrap class="portlet-section-alternate" align="right">$MESSAGES.getString('rolename')&nbsp;</td>
    <td class="portlet-section-body" align="left">
      <input type="text" name='role' size="40" value="$!role" 
       class="portlet-form-field-label"
      #if ($newRole == "false") readonly #end
      >
    </td>
  </tr>
</table>

#if ($newRole == "true")
<input type="submit" name="role.action.Save" value="$MESSAGES.getString('save')" class="portlet-form-button"/>
#end
</form>       

#if ($newRole == "false")
<form name='usersInRoleForm' action="$formAction" method="post">
<table cellpadding=0 cellspacing=1 border=0 width='100%' >
  <input type="hidden" name="role" value="$!role">
  <input type="submit" id="removeCheckedUsers" name="role.action.Remove_Checked_Users" value="$MESSAGES.getString('removecheckedusers')" style="display:none"/>
  <tr>
    #foreach ($column in $title)      
     <th width="10"></th>
      <th align='center' class="portlet-section-header" nowrap width="100%">
        $MESSAGES.getString("$column")
      </th>
    #end
  </tr>
  #foreach ( $user in $table )
  <tr>
    #if ($velocityCount % 2 == 0)
       #set($rowstyle = "portlet-section-body")
    #else
       #set($rowstyle = "portlet-section-alternate")
    #end  
    <td class="$rowstyle" width="10">
        <input type="checkbox" name="box_$user"/>
    </td>
    <td class="$rowstyle" nowrap width="100%">
      <div align="center">$user</div>
    </td>
   </tr>
  #end
</table>
</form>

<hr/>

<!-- controls -->
<table width="200" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    #if ($prev)
      <td valign="middle" height="30">
        <div align="center">
          <form action="$formAction" method="post">
            <input type='hidden' name='db.browser.action' value='first' />                    
            <input class="portlet-form-button" type="submit" value="$MESSAGES.getString('firstArrow')">
            <input type="hidden" name="start" value="0">
          </form>
        </div>
      </td>  
      <td valign="middle" height="30">
        <div align="center">
          <form action="$renderResponse.createActionURL()" method="post">
            <input type='hidden' name='db.browser.action' value='prev'/>                    
            <input class="portlet-form-button" type="submit" value="$MESSAGES.getString('prevArrow')">
            <input type="hidden" name="start" value="$prev">
          </form>
        </div>
      </td>
    #end
    #if ($tableSize > 0)
      <form action="$formAction" method="post">
      <td valign="middle" height="30">
        <div align="center">
            <input type='hidden' name='db.browser.action' value='change'/>                    
            <input type="input" name='start' size='5' value="$start" class="portlet-form-field-label">
        </div>
      </td>  
      <td valign="middle" height="30">
        <div align="center">
            <input type="input" readonly size='10' value="$MESSAGES.getString('numberseparator') $tableSize" class="portlet-form-field-label">            
        </div>
      </td>  
      <td valign="middle" height="30">
        <div align="center">
            <input class="portlet-form-button" type="submit" value="$MESSAGES.getString('go')">            
        </div>
      </td>  

      </form>
      
    #end    
    #if ($next)
      <td valign="middle">
        <div align="center">
          <form action="$formAction" method="post">
            <input type='hidden' name='db.browser.action' value='next'/>          
            <input class="portlet-form-button" type="submit" value="$MESSAGES.getString('nextArrow')">
            <input type="hidden" name="start" value="$next">
          </form>
        </div>
      </td>
      <td valign="middle" height="30">
        <div align="center">
          <form action="$formAction" method="post">
            <input type='hidden' name='db.browser.action' value='last'/>                    
            <input class="portlet-form-button" type="submit" value="$MESSAGES.getString('lastArrow')">
            <input type="hidden" name="start" value="$tableSize">
          </form>
        </div>
      </td>  
    #end
    #if ($tableSize > 0)
      <td valign="middle">
        <div align="center">
          <form action="$formAction" method="post">
            <input type='hidden' name='db.browser.action' value='refresh'/>
            <input class="portlet-form-button" type="submit" name="eventSubmit_doRefresh" value="$MESSAGES.getString('refresh')" />
          </form>
        </div>
      </td>
    #end
  </tr>
</table>
<form action="$formAction" method="post">
    <input type='hidden' name='db.browser.action' value='search'/>                    
    <input type='hidden' name='searchColumn' value='1'/>                        
    
  <table>
  <tr>
    <td><input class="portlet-form-button" type="submit" value="$MESSAGES.getString('search')"></td>
    <td><input type="text" name="searchString" size="30" value="" class="portlet-form-field-label"></td>
    <td nowrap align="right" style="vertical-align:middle">&nbsp;$MESSAGES.getString('filter')</td>
    <td style="vertical-align:middle"><input type="checkbox"  #if($filtered == "on") checked="1" #end name="filtered"></td>
  </tr>
  </table>    
</form>

<form name="securityform" action="$formAction" method="post">
<table>
<tr>
  <td>
   <input type="submit" name="role.action.Add_New_Role" value="$MESSAGES.getString('addnewrole')" class="portlet-form-button"  />
  </td>
  <td>
   <input type="button" onclick="javascript:openWindow('$userChooser')" name="role.action.Add_Users_To_Role" value="$MESSAGES.getString('adduserstorole')" class="portlet-form-button"  />
  </td>  
#if ($tableSize > 0)  
  <td>
   <input type="button" onclick="javascript:document.forms.usersInRoleForm.removeCheckedUsers.click()" value="$MESSAGES.getString('removecheckedusers')" class="portlet-form-button" />
  </td>    
#end
  <td>
   <input type="submit" name="role.action.Remove_Role" value="$MESSAGES.getString('removerole')" class="portlet-form-button" />
  </td>  
</tr>
</table>
<input type='hidden' name='users'/>
<input type='hidden' name='role' value='$role'/>

</form>


#end

