<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<module>
    <field id="author">admin</field>
    <field id="created">2013-01-15 13:11:16.097 +0100</field>
    <field id="homePageContent" text-type="text/html"><![CDATA[<h1 id="polarion_wiki macro name=module-workitem;params=id=TMPLT-243"></h1><p id="polarion_merged_0">
  <span style="font-style: italic;"><span style="font-weight: bold;">NOTE TO AUTHOR</span>:  Highlighted, italicized text throughout this template is provided solely as background information to assist you in creating this document.  Please delete all such text, as well as the instructions in each section, prior to submitting this document.  <span style="font-weight: bold;">ONLY YOUR PROJECT-SPECIFIC INFORMATION SHOULD APPEAR IN THE FINAL VERSION OF THIS DOCUMENT.</span></span>
</p><div id="polarion_wiki macro name=toc"></div><h2 id="polarion_wiki macro name=module-workitem;params=id=TMPLT-244"></h2><h3 id="polarion_wiki macro name=module-workitem;params=id=TMPLT-376"></h3><p id="polarion_merged_1">
  <span style="font-style: italic;">INFO: The Software Verification Plan document outlines the planned tasks and expectations for verification of Software Requirements.<br/>
    </span>
</p><ul id="polarion_merged_2">
  <li><span style="font-style: italic;">WHO will be responsible for completion, review, and approval of these tasks.</span></li>
  <li><span style="font-style: italic;">HOW the verification will be performed including failure resolution.<br/>
      </span></li>
  <li><span style="font-style: italic;">WHAT documentation/deliverables will be generated.</span></li>
</ul><h3 id="polarion_wiki macro name=module-workitem;params=id=TMPLT-377"></h3><p id="polarion_merged_4">
  <span style="font-style: italic;">TO DO: List any other documents or Web addresses to which this document refers. Provide enough information so that the reader could access a copy of each reference, including title, author, version number, date, and source or location. E.g.:</span>
</p><ul id="polarion_merged_9">
  <li><span class="polarion-rte-link" data-type="document" id="fake" data-item-name="Project Scope" data-space-name="Concept" data-option-id="default"></span><br/>
    </li>
  <li><span class="polarion-rte-link" data-type="document" id="fake" data-item-name="System Validation and Verification Plan" data-space-name="Requirements" data-option-id="default"></span></li>
</ul><h2 id="polarion_wiki macro name=module-workitem;params=id=TMPLT-378"></h2><p id="polarion_merged_6">All the Electrical and Mechanical Requirements need to be verified:</p><ul id="polarion_merged_11">
  <li><span class="polarion-rte-link" data-type="document" id="fake" data-item-name="Software Design Specification" data-space-name="Design" data-option-id="default"></span></li>
</ul><h2 id="polarion_wiki macro name=module-workitem;params=id=TMPLT-379"></h2><p id="polarion_merged_8">
  <span style="font-style: italic;">TO DO: Describe an approach how to perform the verification procedures on test items.</span>
</p><h3 id="polarion_wiki macro name=module-workitem;params=id=TMPLT-380"></h3><p id="polarion_merged_10">
  <span style="font-style: italic;">TO DO: Specify test pass conditions and what to do in case of test failure.</span>
</p><h3 id="polarion_wiki macro name=module-workitem;params=id=TMPLT-381"></h3><p id="polarion_merged_12">
  <span style="font-style: italic;">TO DO: Specify the criteria used to suspend all or a portion of the testing activity on the test items associated with this plan. Specify the testing activities that must be repeated, when testing is resumed.</span>
</p><h2 id="polarion_wiki macro name=module-workitem;params=id=TMPLT-382"></h2><p id="polarion_merged_13">
  <span style="font-style: italic;">TO DO: List all the environments on what the tests need to be performed</span>.<span style="font-style: italic;"> </span>
</p><h2 id="polarion_wiki macro name=module-workitem;params=id=TMPLT-383"></h2><p id="polarion_merged_14">
  <span style="font-style: italic;">INFO: The following sections contain Task items that define what is necessary to prepare for and perform testing</span>.
</p><h3 id="polarion_wiki macro name=module-workitem;params=id=TMPLT-254"></h3><div id="polarion_wiki macro name=module-workitem;params=id=TMPLT-255"></div><div id="polarion_wiki macro name=module-workitem;params=id=TMPLT-256"></div><h3 id="polarion_wiki macro name=module-workitem;params=id=TMPLT-257"></h3><div id="polarion_wiki macro name=module-workitem;params=id=TMPLT-258"></div><h2 id="polarion_wiki macro name=module-workitem;params=id=TMPLT-259"></h2><p id="polarion_new_32">
  <span style="font-style: italic;">TO DO: Cover responsibilities, staffing and training needs, risks and contingencies, and the test schedule.</span>
</p>]]></field>
    <field id="renderingLayouts">
        <list>
            <struct>
                <item id="label">Task</item>
                <item id="layouter">section</item>
                <item id="properties">
                    <list>
                        <struct>
                            <item id="key">fieldsAtStart</item>
                            <item id="value">id</item>
                        </struct>
                        <struct>
                            <item id="key">fieldsAtEnd</item>
                            <item id="value">status</item>
                        </struct>
                        <struct>
                            <item id="key">fieldsAtEndAsTable</item>
                        </struct>
                        <struct>
                            <item id="key">hidden</item>
                        </struct>
                    </list>
                </item>
                <item id="type">task</item>
            </struct>
        </list>
    </field>
    <field id="status">draft</field>
    <field id="structureLinkRole">parent</field>
    <field id="type">generic</field>
    <field id="usesOutlineNumbering">true</field>
</module>
