<fo:block>
<fo:leader leader-pattern="rule" 
                   leader-length="100%"
                   rule-thickness="0.5px"
                   color="rgb(200,200,200)"/>
                   
</fo:block>                   
<fo:block  color="rgb(128,128,128)" font-size="7px" space-after="24px" space-after.conditionality="retain">



  <fo:table table-layout="fixed">
  	
  	<fo:table-column column-width="15%"/>
	<fo:table-column column-width="70%"/>
	<fo:table-column column-width="15%"/>
    
    <fo:table-body>
      <fo:table-row>
        <fo:table-cell text-align="left" font-size="7px">
          <fo:block>
          	<fo:inline color="black"><fo:page-number/> | </fo:inline>Page
          </fo:block>
        </fo:table-cell>
        <fo:table-cell text-align="center">
          <fo:block text-align="center">

            <fo:basic-link external-destination="url('www.polarion.com')" font-size="7px" role="html:a" text-decoration="none">$escapingTool.escape($platformService.getPolarionProductName()) $escapingTool.escape($platformService.getPolarionVersion())</fo:basic-link>

          </fo:block>
        </fo:table-cell>
        <fo:table-cell text-align="right">
          <fo:block text-align="right" font-size="7px" >$current_date
          </fo:block>
        </fo:table-cell>
      </fo:table-row>
    </fo:table-body>
  </fo:table>
</fo:block>
