#template("startpage.vm")
#set($message = $xwiki.parseMessage())
<div class="main layoutsubsection">
 <div style="border: 8px solid #FFE9AB; padding: 5px; background-color: #FFFBF1;">
  <div>
    <img src="$xwiki.getSkinFile('tube.PNG')" alt="no image"></img>
    <b>"$localization.getString('wiki.toolbar.conflictOnSave.message')"</b> ##$message
  </div>
  
  <script type="text/javascript">
  	if(parent != null && parent.handleErrorMessage != null){
        		parent.handleErrorMessage("$localization.getString('wiki.toolbar.conflictOnSave.message')");
        	}
   function cancelEdit(){
   	top.hideProgressBar();      	 
   	top.cancelEditSaveOnly();
   	//top.closeWikiSaveDialog();
   }
</script>
  
  <div style="text-align: center; border: 0px solid blue;"> 
  #set( $url = $xwiki.getRequestURL() )
  <a href="javascript: document.getElementById('overwrite').submit()">"$localization.getString('wiki.toolbar.button.overwrite')"</a>
  #if($from_save_only)
	  <a href="javascript:cancelEdit();">"$localization.getString('definition.cancel')"</a>
  #else  
  &nbsp;    
  <a href="javascript: document.getElementById('back').submit()">"$localization.getString('wiki.toolbar.button.backToEdit')"</a>
  &nbsp;    
  <a href="$xwiki.getActionURL($url,'view')">"$localization.getString('definition.cancel')"</a>
  #end
  </div>
    
  <div class="clearfloats"></div>
 </div>
</div>

 <form id="overwrite"  target="working_area" style="visibility: hidden" method="post"  enctype="multipart/form-data" action="$xwiki.getActionURL($url,'save')">
 	<textarea name="content">$request.getParameter("content")</textarea> 	
 </form>
 <form id="back"  style="visibility: hidden" method="post" action="$xwiki.getActionURL($url,'edit')">
 	<textarea name="content">$request.getParameter("content")</textarea>
 	<input type="hidden"  name="revision" value='$request.getParameter("revision")'/>
 	<input type="hidden"  id="canEdit" name="canEdit" value='1'/>
 </form>

#template("endpage.vm") 		
