<div id="descrWI" style="visibility: hidden;  border: 0px solid #000000; position: absolute; left: 260px; top: 240px; z-index:9000;  background: #FFFFE1;">
</div>
<script type="text/javascript">
new Draggable('descrWI',{});
</script>
