<div id="helpmenu" class="menubar">
  <div class="leftmenu">
    <table border=0 >
      <tr>       
        <td style="height: 30px;vertical-align: middle; padding-left: 4px;color: #595959;text-shadow: 1px 1px 0.01em white"><strong>$localization.getValue('wiki.wikiSyntaxHelp')</strong></td>
     </tr>
   </table>
  </div>
</div>


