Polarion Requirements provides unprecedented flexibility for defining requirements. Use any or all of 3 ways to gather and define requirements. Think: <b>Web-Word-Wiki!</b>
<ul style="margin-top:4px;margin-bottom:8px;">
<li>
<b>Web:</b> The web-based, graphical Requirements Designer makes it easy to define and link structured requirements directly in the web portal  with a straightforward, word processor-like interface that runs right in your web browser.  
</li>
<li>
<b>Word:</b> Create structured requirements using Microsoft Word (or Excel) and our special LiveDoc templates. Upload documents and Polarion manages the requirements they contain in its data-driven environment, enabling assignments, approvals, scheduling, etc. Changes are automatically synchronized between the LiveDoc and Polarion.
</li>
<li>
<b>Wiki:</b> Collaborate online with stakeholders anywhere on the planet. When you have consensus, just snag relevant wiki content, click a button, and instantly create a Requirement managed by the Polarion system.
</li>
</ul>
