<img src="/polarion/ria/images/tour/modules.png" style="float:left;margin-right:5px;"/>
<b>Modules</b> are containers for structured requirements that ensure preservation of structure and sorting. 
Modules integrate with the wiki, enabling easy creation of new requirements content and facilitating collaboration. 
<br/><br/>
The <b>Module Library</b> project templates help you quickly create new modules containing pre-structured pages for different types of requirements 
(e.g. business, user, functional) and specifications. Just replace default content with your own and your requirements and specs are 
online and accessible to all stakeholders.
