You are probably anxious to get started working with your new Requirements system. 
A good way to get up to speed quickly is to  spend a little time looking through the Tutorial Guide project. 
This sample project contains a set of tutorial pages and a number of exercises. A little time spent here should help you get off to a smooth start.
<br/>
<br/>
<b>NOTE:</b> Installation of sample/demo project data is optional. If the link below does not work, it means whoever installed the system chose not to  install the samples. In such case, you might download an evaluation copy of Polarion Requirements, install it on your personal computer, and go through the tutorial and other sample projects before working with your Polarion Requirements portal.
<br/>
<br/>
<a target="_top" href="/polarion/#/project/tguide/wiki/Tutorial"><img src="/polarion/ria/images/tour/btn_tutorial.png" style="padding-left:10px" border="0"/></a>