<img src="/polarion/ria/images/tour/tour_projects.png" style="float:left;margin-right:5px;"/>
Polarion Requirements can help you to manage multiple projects developed by one or more teams.
<br/>
<br/>
Projects appear in the Open Project or Project Group dialog (click the Open button in the Portal header) in a tree view that reflects the underlying Subversion repository. 
Green folders are project groups, blue are individual projects. To work with a project, click on its node in the tree 
and then click the Open button in the dialog.
<br/>
<br/>
To manage the people assigned to any project, select the Project as described and then switch to Administration (link appears in the portal header) and navigate to User Management > Roles. (You must have administrator rights for these operations.)
<br/>
<br/>
<a href="/polarion/help/?topic=/com.polarion.xray.doc.user/ugchProjectGetstart.html" target="_blank">
More info in Help...
</a>
