<img src="/polarion/ria/images/tour/export.png" style="float:left;margin-right:5px;"/>
Polarion Requirements enables you to create reports by exporting your requirements content to a variety of common 
file formats including PDF, Microsoft Office&reg; Word and Excel, and more. 
<br/><br/>
From requirements managed in the system, you can easily generate specification documents to share with customers, 
contractors, or other stakeholders outside the organization, or to preserve a snapshot of the current status. 
From the industry's first editable Traceability Matrix you can generate traceability reports with up to forensic 
levels of detail to satisfy rigorous compliance, governance, and regulatory demands. 
