<b>Dear Polarion User,</b> <br/>
Welcome to <a target="_blank" href="http://www.polarion.com/products/requirements/index.php">Polarion Requirements</a>, a next-generation 100% web-based solution that combines best-of-breed collaboration and unique requirements lifecycle and traceability management.
<br/>
<br/>
<img src="/polarion/ria/images/tour/GuidedTourCompass.png" style="float:left;margin-right:5px;"/>
This quick tour briefly introduces the main concepts and features of Polarion Requirements, with links to key Help topics for additional info, 
so you can get started quickly.
<br/>
Please click the Next button (at right) to continue.

