<img src="/polarion/ria/images/tour/tr_matrix.png" style="float:left;margin-right:5px;"/>
Traceability is inherent in Polarion Requirements. Achieve it through either or both of 2 ways: via your work process day by day, or by centralized, explicit traceability definition. 
<br/><br/>
<b>Link requirements</b> to each other with a variety of relationships including parent-child and dependency. Link requirements to the test cases that verify them and the code that implements them (or let your QA and engineering teams do it).
<br/><br/>
<b>Maintain traceability</b> with the industry's first editable traceability matrix. Fix errors in traceability linking that may have occurred in process before they show up in reports. Easily view requirement hierarchies with the special Tree view, in which you can also create structured requirements.
