<html>
<head>
<link href="/polarion/ria/css/pol_default.css" type="text/css" rel="stylesheet"></link>	
<link href="$RiaCssLink" type="text/css" rel="stylesheet"></link>
</head>
<body>
#set($addUrl = "/polarion/announcements/addform$parameters")
<table class="toolbar" width="100%"  cellpadding="0" cellspacing="0">
			<tr>
    			<td height="100%" style="padding-top:2px;padding-left:5px;">
    			#if($canAddAnnouncement)
    				<input type="button" value="Add New" onclick="window.location.href = '$addUrl'" class="actionButtonSmall"/>
    			#else
    				<input type="button" value="Add New" onclick="" class="actionButtonSmallDisabled"/>
    			#end
    			</td>
				<td height="100%" width="100%" style="padding-top:2px;padding-left:5px;">
					<input type="button" value="Back" onclick="window.location.href = '$backUrl'" class="actionButtonSmall"/>
				</td>

			</tr>
	</table>

#if($items)
				<table id="newsTable" class="listAnn" cellpadding="0" cellspacing="0"  >
					#foreach($item in $items)
						<tr>
							<td nowrap="nowrap" style="background-color:#f7f7f7;padding-bottom:10px;">
								<span style="color:#797979">
								#if($item.getDate())
									#formatHTML($item.getDate())
								#end
								</span>
								<br>
								<span style="color:#c7c7c7">
##								#if($item.getAuthor())
	##								#formatHTML($item.getAuthor())
##								#else
								    $!item.getAuthorId()
##								#end
								</span>
							</td>
							<td width="100%">
                                #if($item.getTitle().trim().length() > 0)
									<span style="color:#2d557c"><b><a name="$item.getTitle()">#formatHTML($item.getTitle())</a></b></span><br/>
                                #end
                                #if($item.getDescription())
										#formatHTML($item.getDescription())
								#end
						</tr>
					#end
				</table>
			
#end  
</body>
</html>